[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX
